model-layout {
  display: block;
  width: 100%;
  height: 100%;

  > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 150px;
    > .before {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      > div {
        height: 100%;
      }
    }
    .infos {
      margin-left: 50px;
      h3 {
        font-size: 26px;
      }
    }
  }

  > .content {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: calc(100% - 150px);

    .actions {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: fit-content;
      app-interface {
        margin-top: 10px;
        color: #fff;
      }
      a {
        $size: 60px;
        width: $size;
        height: $size;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        cursor: pointer;
        font-size: 30px;
      }
    }

    > .container {
      position: relative;
      width: 100%;
      height: 100%;
      flex: 1;
    }
  }
}
