<self>
  <header>
    <div class="before" :v-for="fragment of this.@beforeHeader">
      <div
        :inner-html="fragment.fragment">
      </div>
    </div>
    <app-interface class="infos">
      <h3>{{ this.@model.@title }}</h3>
    </app-interface>
  </header>
  <div class="content">
    <div class="actions" :v-for="action of this.@actions">
      <app-interface
        :v-link="action.url !== undefined ? this.@model.url + action.url : null"
        :class="`${action.class || ''} interactable clickable activable`">
          <a
            :href="action.url !== undefined ? this.@model.url + action.url : null"
            :on-click="this.onActionClicked(action, event)">
              {{= action.content}}
          </a>
      </app-interface>
    </div>
    <div  
      class="container" 
      as="container"></div>
  </div>
</self>
