game-entity-show-page {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 242px;
    padding-right: 340px;
    width: 100%;
    background-color: #f9fafb;
    border-bottom: 1px solid #e1e1e1;

    .infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
      model-branch {
        margin-top: 5px;
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      > * {
        border: 1px solid #e1e1e1;
        padding: 5px 10px;
        background-color: #fff;
        cursor: pointer;
        margin-left: 15px;
        font-weight: 500;
        font-size: 26px;
        text-transform: uppercase;
        &:hover {
          border-color: aquamarine;
          background-color: rgba(aquamarine, 0.3);
        }
      }
    }
  }

  .row {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

    overflow-y: scroll;
    .left {
      position: sticky;
      top: 20px;
      width: 200px;
    }

    > .content {
      padding: 25px;
      padding-left: 0;
      flex: 1;

      padding-bottom: 150px;

      .description {
        background-color: hsl(210, 17%, 98%);
        border-radius: 10px;
        color: #72777d;
        max-width: 1500px;
        padding: 10px;
        text-align: justify;
        font-size: 26px;
        font-weight: 300;
        margin-left: calc(25px + 22px);
      }

      .childs {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 20px;
        .child {
          padding-bottom: 15px;
          margin-right: 15px;
          cursor: pointer;
        }
      }

      .map {
        margin-top: 30px;
        app-map {
          margin-top: 10px;
          border: 1px solid #e1e1e1;
          width: 100%;
          height: 1000px;
          background-color: rgba(#e1e1e1, 0.1);
        }
      }
    }

    .right {
      position: sticky;
      top: 50px;
      width: 300px;

      .infos {
        display: flex;
        flex-direction: column;

        .main-image {
          width: 100%;
          min-height: 250px;
          object-fit: contain;
          background-color: #e1e1e1;
        }

        > .content {
          border: 1px solid #e1e1e1;
          border-top: none;
          padding: 10px;
        }
      }
    }
  }
}
