<self :class="`${this.@open ? 'open': ''}`" :v-exit="this.open = false">
  <div class="input" :on-click="this.open = !this.open">
    <label>
      {{this.@current?.definition.name}}
    </label>
  </div>
  <template as="modelTemplate">
    <div class="model-container">
      <div 
        :class="`model ${this.@current?.definition.name === model.definition.name ? 'active' : ''}`"
        :v-selectable="this.setCurrent(model) within this"
        :on-click="this.setCurrent(model)">
        <label>{{model.definition.name}}</label>
      </div>
      <div class="childs" :v-for="model of model.definition.childs with this.modelTemplate"></div>
    </div>
  </template>
  <div 
    class="tree" 
    :v-render="{ model: this.type } with this.modelTemplate">
  </div>
</self>