html,
body,
ui-root,
ui-presenter {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  color:#555;
}

* {
  box-sizing: border-box;
  transition-property: all;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color:inherit;
}

label {
  cursor: inherit;
}

input {
  outline: none;
}

a{
  &:visited{
    color:inherit;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
