<super :class="`field ${this.state.@required && 'required'} ${!this.state.@value && 'empty'} ${this.state.@disabled && 'disabled'} ${this.state.@hidden && 'hidden'}`">
  <header slot="header">
    <label :style.display="this.state.property.name ? null : 'none'">
      {{this.state.property.name || ''}}
    </label>
  </header>

  <div class="main" slot="main"></div>
  <div
    class="errors"
    :v-for="error of this.state.@errors"
    :style.display="this.@touched === true ? null : 'none'">
      <div class="error">{{error}}</div>
  </div>
  <div class="messages" :v-for="message of this.state.@messages">
    <div class="message" :on-click="this.state.messages.tryRemove(message)">
      {{message.text}}
    </div>
  </div>
</super>
