entity-card {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgba(#e1e1e1, 0.5);
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 150px;
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: dimgrey;
    border: 1px solid #e1e1e1;
    img {
      width: 20px;
      height: 20px;
    }
    label {
      flex: 1;
      margin-left: 10px;
      //color:transparent;
    }
  }

  .content {
    overflow-y: scroll;
    height: 150px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    transition-duration: 0.2s;
    font-size: 13px;
    padding: 10px;
    text-align: justify;
    border: 1px solid #e1e1e1;
    &::-webkit-scrollbar {
      width: 3px;
    }
  }

  &:hover {
    .content {
      //top: 0;
      transition-duration: 0.2s;
    }
  }
}
