folder-card {
  .content {
    transform: translateZ(30px);
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
  }
  svg {
    color: rgba(#f1c40f, 0.6);
    font-size: 85px;
    &.open {
      display: none;
    }
  }

  &.open {
    svg {
      display: none;
      &.open {
        display: block;
      }
    }
  }
}
