<super>
  <div class="model-card">
    <header slot="header">
        <label>
          {{this.model?.@name}}
        </label>
      </header>
      <div class="content" slot>

      </div>
      <context-menu slot="context-menu">
        <div :v-if="mixer.is(this.model, Pageable)">
          <context-menu-item :on-selected="navigator.navigate(this.model.url)">
            Open
          </context-menu-item>
          <context-menu-item :on-selected="console.log(this.model, '_blank')">
            Open in a new tab
          </context-menu-item>
          <context-menu-item :on-selected="navigator.navigate(this.model.url + '/edit')">
            Edit
          </context-menu-item>
        </div>
        <context-menu-item :on-selected="this.delete()" :v-if="this.model.canDelete()">
          Delete
        </context-menu-item>
      </context-menu>
  </div>
</super>