folder-tree {
  display: block;
  width: fit-content;
  position: relative;
  height: 100%;
  > .root {
    height: 100%;
    overflow-y: auto;
    padding: 10px;
  }
  .folder {
    > .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      folder-row {
        flex: 1;
      }
    }
    > .folders {
      display: none;
      margin-left: 13px;
      width: calc(100% - 13px);
      border-left: 2px dashed #e1e1e1;
      > .folder {
        > .row {
          &::before {
            content: " ";
            width: 10px;
            border-bottom: 2px dashed #e1e1e1;
            margin-top: 2px;
          }

          > folder-row {
            margin-top: 5px;
          }
        }
      }
    }

    &.active {
      > .folders {
        display: block;
        border-color: aquamarine !important;
      }

      > .row {
        &::before {
          border-color: aquamarine !important;
        }
      }
    }
  }
}
