app-type-filter {
  display:block;
  height:50px;
  width:fit-content;
  position:relative;
  width:100%;
  .root{
    border:1px solid #e1e1e1;
    height:40px;
    width:100%;
    cursor:pointer;


    .source{
      .path{
        .segment{

        }
      }

      .method{

      }

      .args{
        
      }
    }
  }
}
