model-field {
  display: block;
  .inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    .input {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      border: 1px solid #e1e1e1;
      background-color: #fff;
      height: 100%;
      padding: 5px;
      .value {
        width: 100%;
        .model-row{
          width: 100%;
        }
      }

      input {
        display: none;
        border: none;
        height: 100%;
        width: 100%;
      }

      .close {
        margin: 2px;
        cursor: pointer;
        padding: 4px 7px;
        &:hover {
          background-color: rgba(#c55, 0.4);
        }
      }
    }

    .create {
      padding: 4px 12px;
      height: 100%;
      font-size: 19px;
    }
  }

  .suggestions {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    z-index: 9999;
    .suggestion {
      margin: 5px;
    }
  }

  &.empty,
  &.edit {
    .inner {
      .input {
        .value {
          display: none;
        }

        input {
          display: block;
        }

        .close {
          display: none;
        }
      }
    }
  }
}
