<self :class="`${this.@field.@disabled ? 'disabled' : ''} ${this.@field.@required ? 'required' : ''}`">
  <label :style.display="this.field.@label ? null : 'none'" >
    {{this.@field.@label || ''}}
  </label>
  <div class="transclude" as="transclude"></div>
  <div 
    class="errors" 
    :v-for="error of this.@field.@errors"
    :style.display="this.field.@touched === true ? null : 'none'">
    <div class="error">
      {{error}}
    </div>
  </div>
  <div 
    class="messages" 
    :v-for="message of this.@field.@messages">
    <div class="message" :on-click="this.field.messages.tryRemove(message)">
      {{message.text}}
    </div>
  </div>
</self>