<self :class="`${this.@open ? 'open' : ''}`" :v-exit="this.stop()">

  <div class="search-bar">
    <div class="search-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <input 
      as="input"
      placeholder="Search ..."
      :on:input="this.length = this.input.value.length" 
      :v-input-delay="this.search()" 
      :on:focus="this.start()">
    <div class="x" :class="`${this.@length ? '' : 'empty'}`" :on:click="this.empty()">
      <i class="fa-solid fa-xmark"></i>
    </div>

    <div class="informations">
      <i class="fa-solid fa-info"></i>
      <tool-tip>
        <span><a href="https://en.wikipedia.org/wiki/Regular_expression">Regex</a> are supported</span>
      </tool-tip>
    </div>
  </div>
  <div class="searchables">
    <div class="list" :v-for="searchable of this.searchables">
      <div class="searchable" :class="`${searchable.@error ? 'error' : ''} ${searchable.@results?.length ? '' : 'hide'}`"">
        <header>
          <label>{{searchable.type.definition.pluralName}}</label>
          <div class="icon">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <tool-tip>
              {{ searchable.@error || '' }}
            </tool-tip>
          </div>
        </header>
        <app-loader :size="'50px'" :loading="searchable.@loading">
          <div class="results" :v-for="result of searchable.@results">
            <a :on:click="this.stop()" :v-link="result.@url">
              <replace-with 
                :element="this.templateRow(result)" 
                :v-selectable="node.click() within this">
              </replace-with>
            </a>
          </div>
        </app-loader>
      </div>
    </div>

    <short-cuts>
      <short-cut :key="'ArrowUp'">Previous</short-cut>
      <short-cut :key="'ArrowDown'">Next</short-cut>
      <short-cut :key="'shift+tab'">Previous</short-cut>
      <short-cut :key="'tab'">Next</short-cut>
    </short-cuts>
  </div>
  <short-cuts>
    <short-cut :key="'alt+x'" :callback="() => this.empty()" :target="this.input">Erase</short-cut>
    <short-cut :key="'alt+f'" :callback="() => this.input.focus()" :target="window">Focus</short-cut>
  </short-cuts>
</self>