.list {
    padding-left: 20px;

    h1 {
        font-size: larger;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
      }
    h3 {
        padding: 10px;

        &:hover{
            background-color: rgba(#55c, 0.1);
            font-weight: bold;
            cursor: pointer;
        }
    }
    .create-new-organization {
        display: none;

        &.create-is-open {
            display: flex;
        }
    }
}
