app-type-selector {
  display:block;
  width:fit-content;
  position:relative;
  .input{
    padding:5px 10px;
    border:1px solid #e1e1e1;
    background-color:aliceblue;
    cursor:pointer;
    &:hover{
      background-color:azure;
    }
  }
  .tree{
    background-color:#fff;
    border:1px solid #e1e1e1;
    position:absolute;
    display:none;
    z-index:1;

    .model-container{
      
      .model{
        padding:5px;
        cursor:pointer;
        &:hover,&.active,&.selected{
          background-color:aqua;
        }
      }

      .childs{
        border-left:1px solid #e1e1e1;
        margin-left:10px;
      }
    }
  }

  &.open{
    .tree{
      display:block;
    }
  }
}
