<self :class="`${ this.@open && 'open' || '' }`">
  <div class="top-bar">
    <div class="burger" :on:click="this.open = !this.open">
      <i class="fa-solid fa-bars"></i>
    </div>
    <h3>Star citizen universe</h3>
    <div class="user-menu">
      <div>
        <label>Profil</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="left-bar">
      <div class="menu" :v:for="link of this.menu">
        <a class="link" :v:link="link.url">
          <div class="image">
            <i :class="link.class"></i>
          </div>
          <label>{{link.label}}</label>
        </a>
      </div>
    </div>
    <div class="container" as="container"></div>
  </div>
</self>