file-card {
  .content {
    transform: translateZ(30px);
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
  }
  svg {
    color: rgba(#e1e1e1, 0.6);
    font-size: 85px;
    &.open {
      display: none;
    }
  }
}
