.model-row {
  cursor: pointer;
  padding: 7px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 30px;
  background-color: #ecf0f1;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  height: 30px;
  width: fit-content;
  min-width: 150px;

  border-left: 5px solid transparent;

  &.focus {
    border-left-color: aquamarine;
  }

  &.selected,
  &:hover {
    background-color: aquamarine;
  }

  img,
  svg,
  .icon {
    margin-right: 7px;
  }

  img,
  svg {
    height: 100%;
  }

  label {
  }
}
