model-form {
  width: 100%;
  .breadcrumb {
    label {
      &:not(:last-child) {
        &::after {
          content: ">";
        }
      }
    }
  }

  .forms {
    child-model-form {
      &:not(:last-child) {
        display: none;
      }
    }
  }
}
