object-fieldset {
  display: block;
  width: 100% !important;
  flex: 100% !important;

  &:not(.empty) {
    > header {
      select {
        display: block;
      }

      .create {
        display: none;
      }

      .delete {
        display: block;
      }
    }
    > .main {
      > fieldset {
        display: flex;
      }
    }
  }

  &.required {
    > header {
      .delete {
        display: none;
      }
    }
  }

  &.one-option.required {
    > header {
      select {
        display: none;
      }
    }
  }

  > header {
    select {
      display: none;
      margin-left: 10px;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      padding: 5px;
      background: none;

      font-size: 17px;
      border: 1px solid transparent;
      &:hover,
      &:focus {
        border-color: #e1e1e1;
        background-color: #fff;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
      }
    }
    .create,
    .delete {
      margin-left: 5px;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      padding: 5px;
      background-color: #fff;
      border: 1px solid #e1e1e1;
      &:hover {
        background-color: rgba(aquamarine, 0.3);
      }
    }

    .create {
    }

    .delete {
      display: none;
    }
  }
  > .main {
    > fieldset {
      display: none;
      //border: 1px solid #a1a1a1;
      margin-top: 5px;
      padding: 15px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;
      > * {
        flex: 1 1 450px;
      }
    }
  }
}
