<super :class="`${this.@types.length === 1 ? 'one-option' : ''}`">
  <slot name="header">
    <super-slot></super-slot>
    <select :v-for="option of this.@types">
      <option 
        :option-value="option"
        :selected="this.@types.find((t)=> this.value === t.value || (t.value && this.state.@value instanceof t.value))">
          {{ option.definition.name }}
      </option>
    </select>
    <div class="create" :on-click="this.create()">
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="delete" :on-click="this.state.value = null">
      <i class="fa-solid fa-xmark"></i>
    </div>  
  </slot>
  <slot>
    <fieldset
      :v-for="field of Object.values(this.@fields) with (f) => f">
    </fieldset>
  </slot>
</self>
