child-model-form {
  width: 100%;
  form {
    object-fieldset {
    }
    .bottom {
      margin-top: 15px;
      float: right;
      button {
        font-size: 26px;
        padding: 5px;
      }
    }
  }
}
