mo-dal {
  display: none;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  min-height: 200px;
  min-width: 350px;
  padding: 15px;
  > header {
    $size: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $size;
    .title {
      display: block;
      font-size: 23px;
      flex: 1;
    }
  }

  > .transclude {
  }

  .actions {
    position: absolute;
    top: 0;
    right: 0;
    div {
      $size: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      cursor: pointer;
      &:hover {
        background-color: #e1e1e1;
      }
    }
  }
}
