.app-interface {
  display: block;
  position: relative;
  $transition: unset;
  transform-style: preserve-3d;
  transition-duration: 0.1s;
  width: fit-content;
  height: fit-content;
  &.start {
    transition-duration: 0.1s;
    animation-name: appear;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    @keyframes appear {
      0% {
        transform: scale(0) rotateX(-5deg) rotateY(10deg);
      }

      100% {
        transform: scale(1) rotateX(-5deg) rotateY(10deg) translateZ(0);
      }
    }
  }
  
  > .content {
    transform-style: preserve-3d;
    transition-duration: 0.1s;
    //transform: translateZ(-30px);
  }

  &.interactable {
    cursor: pointer;
    &.active,
    &.loading,
    &:hover {
      transform: rotateX(-4deg) rotateY(15deg) !important;
      > .projection {
      }
      > .content {
        transform: translateZ(50px);
      }
    }
  }

  &.activable {
    &.active,
    &:hover {
      > .content {
        background: green;
      }
    }
  }

  &.loading {
    > .content {
      animation-name: background;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      @keyframes background {
        0% {
          background: none;
        }
        20% {
          background: red;
        }
        40% {
          background: none;
        }
        50% {
          background: red;
        }
        60% {
          background: none;
        }
      }
    }
  }
}
