user-menu {
  display: block;
  color: #fff;
  &.has-user {
    position: relative;
    .logged-in {
      display: block;
    }

    .logged-out {
      display: none;
    }
  }

  .logged-in {
    display: none;

    &.is-open {
      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        width: 100%;
      }
    }

    .list {
      display: none;
      position: absolute;

      a {
        padding-bottom: 5px;
        &:hover {
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    header {
      border: 2px solid #55c;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.1s;
      cursor: pointer;
      label {
        position: relative;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
      }

      &:hover {
        background-color: rgba(#55c, 0.1);
      }
    }
  }

  .logged-out {
    display: block;
    background-color: #55c;
    color: #fff;
  }
}
