model-form {
  width: 100%;
  &.disable-nested {
    .breadcrumb {
      display: none;
    }
  }
  .breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      label {
        display: inline-block;
        cursor: pointer;
        padding: 5px;
      }
      &:not(:last-child) {
        &::after {
          font-size: 22px;
          font-weight: bold;
          content: ">";
          margin: 5px;
        }
      }
    }
  }

  .forms {
    child-model-form {
      &:not(:last-child) {
        display: none;
      }
    }
  }
}
