<self :class="`${this.disableNested ? 'disable-nested' : ''}`">
  <div class="breadcrumb" :v-for="form of this.forms">
    <div>
      <label :on-click="this.target(form)">{{ form.label || form.@type?.definition.name }}</label>
    </div>
    
  </div>
  <child-model-form 
    :form="this" 
    in="forms" 
    :type="this.@type" 
    :label="this.@model?.@title"
    :on-saved="this.onSaved(event)"
    :mode="this.@mode"
    :editable="this.@editable"
    :deletable="this.@deletable"
    :disable-nested="this.@disableNested"
    :states="this.@states"
    :object="this.@model">
  </child-model-form>
  <div class="forms" :v-for="form of this.forms with (f) => f"></div>
</self>   