<self 
  :v-selectable-root="'horizontal'" 
  :v-loader="this.@loading size '50px'">
    <div class="left">
      <folder-tree 
        :folder="this.@currentFolder"
        :root="this.initialFolder"
        :on-selected="this.focusFolder(event.folder)">
      </folder-tree>
    </div>
    <div class="right">
      <div class="bar">
        <input as="input" :v-input-delay="this.search(node.value)" placeholder="search">
        <div class="actions">
          <div :on-click="this.inputFile.click()" class="upload">
            <input type="file" as="inputFile" :on-change="this.uploadFile(node.files[0])" />
            <i class="fa-solid fa-file-arrow-up"></i>
          </div>
          <div>
            <i class="fa-solid fa-link"></i>
          </div>
          <div :on-click="this.createFolder()">
            <i class="fa-solid fa-folder-plus" ></i>
          </div>
        </div>
      </div>
      <template in="templates" :for="File" :as="'file'">
        <iframe class="file"
          :src="file?.@path">
        </iframe>
      </template>
      <editable-grid 
        class="content" 
        as="grid" 
        :templates="this.templates" 
        :directions="{left: false, top: false}"
        :max-deepth="2">  
          <grid-panel class="folder-panel">
              <slot name="header">
                <div class="folders">
                  <div class="branch" :v-for="folder of this.@currentFolder.branch.filterLink((f)=>f === this.initialFolder || f.branch.indexOf(this.initialFolder) !== -1)">
                    <div class="folder">
                      <folder-row 
                        :on-click="this.focusFolder(folder)" 
                        :model="folder">
                      </folder-row>
                    </div>
                  </div>
                  <folder-row 
                    class="selected open"
                    :model="this.@currentFolder">
                  </folder-row>
                </div>
              </slot>
              <slot>
                <div class="storage-objects" :v-for="storageObject of this.@storageObjects.sortLink((o1, o2)=> (o1 instanceof Folder ? 0 : 1) - (o2 instanceof Folder ? 0 : 1))">
                  <model-card
                    :model="storageObject"
                    :v-selectable="this.onFileObjectClicked(storageObject)">
                  </model-card>
                </div>
              </slot>
          </grid-panel>
      </editable-grid>
    </div>
    
</self>
