<self 
  :v-selectable-root="'horizontal'" >
    <div class="left">
      <folder-tree 
        :folder="this.@currentFolder"
        :root="this.initialFolder"
        :on-selected="this.focusFolder(event.folder)">
      </folder-tree>
    </div>
    <div class="right">
      <div class="bar">
        <app-interface>
          <input as="input" :v-input-delay="this.search(node.value)" placeholder="search">
        </app-interface>
        <app-interface :on-click="this.inputFile.click()" class="upload interactable clickable">
          <input type="file" as="inputFile" :on-change="this.uploadFile(node.files[0])" />
          <i class="fa-solid fa-file-arrow-up"></i>
        </app-interface>
        <app-interface class="interactable clickable">
          <i class="fa-solid fa-link"></i>
        </app-interface>
        <app-interface class="interactable clickable" :on-click="this.createFolder()">
          <i class="fa-solid fa-folder-plus" ></i>
        </app-interface>
      </div>
      <template in="templates" :for="File" :as="'file'">
        <iframe class="file"
          :src="file?.@path">
        </iframe>
      </template>
      <div 
        class="content">  
        <div class="folders">
          <div class="branch" :v-for="folder of this.@currentFolder.branch.filterLink((f)=>f === this.initialFolder || f.branch.indexOf(this.initialFolder) !== -1)">
            <div class="folder">
              <folder-row 
                :on-click="this.focusFolder(folder)" 
                :model="folder">
              </folder-row>
            </div>
          </div>
          <folder-row 
            class="selected open"
            :model="this.@currentFolder">
          </folder-row>
        </div>
        <div 
          class="storage-objects" 
          :v-for="storageObject of this.@storageObjects.sortLink((o1, o2)=> (o1 instanceof Folder ? 0 : 1) - (o2 instanceof Folder ? 0 : 1))">
          <model-component
            :type="'card'"
            :model="storageObject"
            :v-selectable="this.onFileObjectClicked(storageObject)">
          </model-component>
        </div>
      </div>
    </div>
    
</self>
