child-model-form {
  width: 100%;

  > form {
    > .bottom {
      display: flex;
      flex-direction: row;

      width: fit-content;
      margin-left: auto;
      margin-right: 0;
      .submit {
        display: block;
      }

      .edit {
        display: none;
      }

      .cancel {
        display: none;
      }

      .delete {
        display: none;
      }

      button {
        font-size: 26px;
        padding: 5px;
        margin-left: 5px;
      }
    }
  }

  &.read {
    > form {
      > .bottom {
        .submit {
          display: none;
        }
      }
    }
  }

  &.editable.read {
    > form {
      > .bottom {
        .edit {
          display: block;
        }
      }
    }
  }

  &.editable.edit {
    > form {
      > .bottom {
        .cancel {
          display: block;
        }
      }
    }
  }

  &.deletable {
    > form {
      > .bottom {
        .delete {
          display: block;
        }
      }
    }
  }
}
