myprofile-page {
  display: flex;
  width: 100%;
  height: 100%;

  .my-data {
    display: none;

    &.data-is-open {
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
    }
  }

  .edit-my-data {
    display: none;

      &.edit-is-open {
        display: block;
      }
    }

  h1 {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 8px;
    text-align: center;
  }

  h3 {
    padding-bottom: 10px;

    &:hover {
      background-color: rgba(#55c, 0.1);
      font-weight: bold;
      cursor: pointer;
    }
  }

  .content {
    display: block;
    width: 100%;
    margin: 15px 15px;
  }
}

  /*.list{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 80%;
  }*/


  /*.my-data {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }*/


