login-page {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  .content {
    width: 350px;
    height: 250px;
    padding: 25px;
    border: 1px solid #e1e1e1;
  }
}
