<self :class="`${this.@open ? 'open': ''}`">
  <div class="input" :on:click="this.open = !this.open">
    <label>
      {{this.@current?.definition.name}}
    </label>
  </div>
  <template as="modelTemplate">
    <div class="model-container">
      <div 
        :class="`model ${this.@current?.definition.name === model.definition.name ? 'active' : ''}`" 
        :on:click="this.setCurrent(model)">
        <label>{{model.definition.name}}</label>
      </div>
      <div class="childs" :v:for="model of model.childs" :v.for.template="this.modelTemplate"></div>
    </div>
  </template>
  <div 
    class="tree" 
    :v:render="this.modelTemplate with {model:this.type}">
  </div>
</self>