<self tabindex="0">
  <header>
    <input type="text" as="input" :on-input="this.search(node.value)" />
    <input type="file" as="inputFile" :on-change="this.uploadFile(node.files[0])" />
    <button class="add" :on-click="this.inputFile.click()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </header>
  <div
    class="objects"
    :v-for="object of this.@objects">
    <div>
      <model-card 
        :model="this.template(object)"
        :v-selectable="this.selectFile(object) within this" 
        :class="`${this.@file === object ? 'selected' : ''}`">
      </model-card>    
    </div>
  </div>
  <button 
    selectable-trigger>
    OK
  </button>
</self>
